doctype html
html
	head
		title MyFacebook
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		.w3-container(style='text-align:center;padding-top:50px;max-width:400px;margin:0 auto;')
			.w3-card-4
				header.w3-container.w3-blue
					h1 myFacebook
				div
					h3 Registar
				div
					form.w3-container(method="POST" action="/users/registar")
						input.w3-input(type="text" name="nome" placeholder="Nome" style='margin-top:10px')
						input.w3-input(type="text" name="email" placeholder="Email" style='margin-top:10px')
						input.w3-input(type="password" name="password" placeholder="Password" style='margin-top:10px')
						input.w3-input(type="password" name="password" placeholder="Repetir password" style='margin-top:10px')
						input.w3-input(type='date' name='dataNascimento' style='margin-top:10px')
						select.w3-input(style='margin-top:10px' name='genero')
							option(value='masculino') Masculino
							option(value='feminino') Feminino
						input.w3-input(type="text" name="localidade" placeholder="Localidade" style='margin-top:10px')
						input.w3-btn.w3-blue(type="submit" value="Registar" style='margin-top:10px;margin-bottom:20px')